@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}
.loadingBtn {
  width: 28px;
  height: 28px;
  animation: animate 2s linear infinite;
  margin-right: 10px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
